<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inemuri_ie_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,104}</string>
                <key>spriteSourceSize</key>
                <string>{99,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inemuri_ie_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,104}</string>
                <key>spriteSourceSize</key>
                <string>{99,104}</string>
                <key>textureRect</key>
                <string>{{101,1},{99,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inemuri_ie_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{201,1},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inemuri_ie_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,104}</string>
                <key>spriteSourceSize</key>
                <string>{101,104}</string>
                <key>textureRect</key>
                <string>{{302,1},{101,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inemuri_ie_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{404,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inemuri_ie_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{509,1},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inemuri_ie_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{617,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inemuri_ie_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,104}</string>
                <key>spriteSourceSize</key>
                <string>{99,104}</string>
                <key>textureRect</key>
                <string>{{722,1},{99,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sagyou_ie_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,121}</string>
                <key>spriteSourceSize</key>
                <string>{165,121}</string>
                <key>textureRect</key>
                <string>{{822,1},{165,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sagyou_ie_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,121}</string>
                <key>spriteSourceSize</key>
                <string>{165,121}</string>
                <key>textureRect</key>
                <string>{{988,1},{165,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sagyou_ie_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,121}</string>
                <key>spriteSourceSize</key>
                <string>{165,121}</string>
                <key>textureRect</key>
                <string>{{1154,1},{165,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sagyou_ie_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,121}</string>
                <key>spriteSourceSize</key>
                <string>{165,121}</string>
                <key>textureRect</key>
                <string>{{1320,1},{165,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sagyou_ie_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,121}</string>
                <key>spriteSourceSize</key>
                <string>{165,121}</string>
                <key>textureRect</key>
                <string>{{1486,1},{165,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sagyou_ie_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,121}</string>
                <key>spriteSourceSize</key>
                <string>{165,121}</string>
                <key>textureRect</key>
                <string>{{1652,1},{165,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role1.png</string>
            <key>size</key>
            <string>{1818,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fe6edeec0154a7399982df40d8077ed:96e102ca5cc522570c3320bbf1394207:739f641cbae569b9ded70f172f5b7e2f$</string>
            <key>textureFileName</key>
            <string>role1.png</string>
        </dict>
    </dict>
</plist>
