<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>katatsumuri_niwa_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,138}</string>
                <key>spriteSourceSize</key>
                <string>{129,138}</string>
                <key>textureRect</key>
                <string>{{259,138},{129,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katatsumuri_niwa_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,138}</string>
                <key>spriteSourceSize</key>
                <string>{129,138}</string>
                <key>textureRect</key>
                <string>{{130,276},{129,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katatsumuri_niwa_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,138}</string>
                <key>spriteSourceSize</key>
                <string>{129,138}</string>
                <key>textureRect</key>
                <string>{{259,276},{129,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katatsumuri_niwa_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,138}</string>
                <key>spriteSourceSize</key>
                <string>{130,138}</string>
                <key>textureRect</key>
                <string>{{0,276},{130,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katatsumuri_niwa_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,138}</string>
                <key>spriteSourceSize</key>
                <string>{130,138}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katatsumuri_niwa_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,138}</string>
                <key>spriteSourceSize</key>
                <string>{130,138}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katatsumuri_niwa_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,138}</string>
                <key>spriteSourceSize</key>
                <string>{130,138}</string>
                <key>textureRect</key>
                <string>{{0,138},{130,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katatsumuri_niwa_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,138}</string>
                <key>spriteSourceSize</key>
                <string>{129,138}</string>
                <key>textureRect</key>
                <string>{{130,138},{129,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katatsumuri_niwa_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,138}</string>
                <key>spriteSourceSize</key>
                <string>{129,138}</string>
                <key>textureRect</key>
                <string>{{260,0},{129,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mitsubati_niwa_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{160,178}</string>
                <key>textureRect</key>
                <string>{{160,592},{160,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mitsubati_niwa_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{160,178}</string>
                <key>textureRect</key>
                <string>{{0,592},{160,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mitsubati_niwa_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,178}</string>
                <key>spriteSourceSize</key>
                <string>{161,178}</string>
                <key>textureRect</key>
                <string>{{324,414},{161,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mitsubati_niwa_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,178}</string>
                <key>spriteSourceSize</key>
                <string>{161,178}</string>
                <key>textureRect</key>
                <string>{{163,414},{161,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mitsubati_niwa_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,178}</string>
                <key>spriteSourceSize</key>
                <string>{163,178}</string>
                <key>textureRect</key>
                <string>{{0,414},{163,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mitsubati_niwa_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,178}</string>
                <key>spriteSourceSize</key>
                <string>{163,178}</string>
                <key>textureRect</key>
                <string>{{320,592},{163,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role2.png</string>
            <key>size</key>
            <string>{485,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70e581547dc42a7f90e819a86034ef69:fad03720b56e628d0896dc1db56b7310:dccc427992650616573c7c32b28969bc$</string>
            <key>textureFileName</key>
            <string>role2.png</string>
        </dict>
    </dict>
</plist>
