<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hikki_ie_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,96}</string>
                <key>spriteSourceSize</key>
                <string>{110,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hikki_ie_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,96}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{112,1},{112,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hikki_ie_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,96}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{225,1},{112,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hikki_ie_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{114,96}</string>
                <key>textureRect</key>
                <string>{{338,1},{114,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hikki_ie_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{114,96}</string>
                <key>textureRect</key>
                <string>{{453,1},{114,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hikki_ie_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{568,1},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hikki_ie_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,96}</string>
                <key>spriteSourceSize</key>
                <string>{113,96}</string>
                <key>textureRect</key>
                <string>{{685,1},{113,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role4.png</string>
            <key>size</key>
            <string>{799,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf16cd9637b95d5b21b581fb41155bbf:c5778c22659ae5ed853b0b60a1eaf835:80226b9b6c6ac5ba5af25b8eb720624f$</string>
            <key>textureFileName</key>
            <string>role4.png</string>
        </dict>
    </dict>
</plist>
